:root{
    --secondary: gray;
}


body{
    background:#111722;
    color: white;
}
h1{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
}
h5{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
}
P{
   color: var(--secondary)
}
button{
    font-family: 'Lexend';
    font-weight: 500;
}
.feature{
    height: 90px;
    width: 90px;
    margin-left: 120px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 70px;
}

.features-image{
    height: 44px;
    width: 44px;
}
.feature:hover{
    background-color: #4A6CF7;
}

.explore col {
    grid-row-gap: 40px;
    grid-column-gap: 40px;
}

/* navbar area */
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 155, 255, 255.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.mission1{
    margin-right: -100px;
}