@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&family=Josefin+Sans:ital@1&family=Poppins&display=swap');

/* custom Css */
html {
    scroll-behavior: smooth;
}

:root {
    --secondary: gray;
    --check-right: #00CB99;
}


body {
    background: #111722;
    color: white;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.section-title {
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}

h1 {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
}

h5 {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
}

p {
    color: var(--secondary)
}

button {
    font-family: 'Lexend';
    font-weight: 500;
}

/* custom css */
.fs-40 {
    font-size: 40px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-35 {
    padding-bottom: 35px;
}

.pb-48 {
    padding-bottom: 48px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-12 {
    padding-bottom: 12px;
}

.pt-70 {
    padding-top: 70px;
}

/* header */
.header-title {
    background: rgba(255, 255, 255, 0.08);
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    border: none;
}



.btn-header1 {
    height: 50px;
    width: 182px;
    color: white;
}

.btn-header2 {
    height: 24px;
    width: 129px;
    color: white;
    background-color: #111722;
}

.feature {
    height: 90px;
    width: 90px;
    margin-left: 120px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 70px;
}

.features-image {
    height: 44px;
    width: 44px;
}

.feature:hover {
    background-color: #4A6CF7;
}

.explore col {
    grid-row-gap: 40px;
    grid-column-gap: 40px;
}


/* awesome features */
.features {
    font-weight: 900;
    font-size: 70px;
    opacity: 0.05;
    margin-bottom: -50px;
}


/* company details */
.company-details {
    background-color: #3334357a;
}


/* clients */
.arrow {
    padding: 5px;
    background-color: rgba(248, 248, 248, 0.15);
    ;
}

.arrow:hover {
    background-color: #4A6CF7;
}

.fa-solid {
    height: 12.96px;
    width: 13.33px;
}

/* brand */
.brand {
    opacity: 30%;
}

.brand:hover {
    opacity: 100%;
}

/* simple plan */
.table-list {
    height: auto;
}

.table-list li {
    list-style: none;
    font-size: 18px;
    color: var(--secondary);
}

.check-right {
    color: var(--check-right);
}

.month {
    font-size: 55px;
}

.border-bottom-left {
    border-bottom: 1px solid #2E333D;
    border-right: 1px solid #2E333D;
}

.border-btm {
    border-bottom: 1px solid #2E333D;
}

.border-right {
    border-right: 1px solid #2E333D;
}

.btn {
    color: white;
    background: #79808A;
    font-size: 18px;
    height: 52px;
    width: 215px;
}

.btn:hover {
    color: white;
    background: #4A6CF7;
    transform: scale(1.01);
}

/* dedicate */
.team-image {
    position: relative;
}

.team-social {
    position: absolute;
    opacity: 0;
    font-size: 30px;
}

.single-member:hover .team-social {
    opacity: 1;
    position: relative;
    top: -60px;
    text-align: center;
}

/* blog */
.blog-title {
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
    line-height: 30px;
}

/* footer */
.footer li {
    list-style: none;
}

.footer input {
    width: 120px;
    background-color: #2C3443;
    border: none;
    border-radius: 5px;
}

.footer ul {
    height: auto;
    padding: 0;
    margin: 0;

}

.footer ul a {
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    line-height: 1.8;
    color: #79808A;
}

.footer ul a:hover {
    color: #FFFFFF;
}

/* .play-btn{
    background-color: #2C3443;
    color: #79808A;
    border: none;
    border-radius: 5px;
} */

/* Sign in page */
.signin {
    background: #1D232D;
}

.signin-section {
    padding: 70px;
    border-radius: 10px;
    box-sizing: border-box;
}

@media screen and (max-width: 576px) {
    .signin-section {
        padding: 15px;
        border-radius: 10px;
        box-sizing: border-box;
    }

    .features {
        font-weight: 900;
        font-size: 45px;
        opacity: 0.05;
        margin-bottom: -50px;
    }

    .footer ul {
        text-align: left;
    }

}

.social-icon {
    background: #2C3443;
    width: auto;
    margin-right: 10px;
}

.signin button:hover {
    background-color: #2C3443;
}

.line-between {
    position: relative;
    text-align: center;
}

.line-between:before,
.line-between:after {
    background: #2E333D;
    content: "";
    display: inline-block;
    width: 33%;
    height: 1px;
    position: relative;
    vertical-align: middle;
    margin: 0 10px;
}

/* need help and contacts*/
.divider {
    width: 200px;
    height: 5px;
    background: #FFFFFF;
}

.contacts {
    padding-left: 30px;
}

.contact-info {
    justify-content: center;
}

.contact-social {
    text-align: center;
}

.contact-social a i {
    color: #79808A;
    font-size: 18px;
}

.contact-social a {
    color: #79808A;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.contact-social a i:hover {
    color: #FFFFFF;

}

@media screen and (max-width: 576px) {

    .line-between:before,
    .line-between:after {
        background: #2E333D;
        content: "";
        display: inline-block;
        width: auto;
        height: 1px;
        position: relative;
        vertical-align: middle;
        margin: 0 10px;
    }

    .divider {
        width: 40px;
        height: 2px;
    }

    .contact-social {
        text-align: left;
    }

    .contact-title {
        margin-top: 25px;
    }
}

.fa-google {
    color: #EB4335;
}

.fa-twitter {
    color: #00AFED;
}

.fa-facebook {
    color: #1877F2;
}

.fa-github {
    color: #79808A;
}

.input-section h2 {
    font-size: 16px;
}

.input-section input {
    border: none;
    background-color: #1D232D;
    border-bottom: 1px solid #2C3443;
    padding: 15px;
}

.input-section span {
    padding-left: 40px;
}

.input-section {
    padding-bottom: 50px;
}

.from-submit {
    width: auto;
    height: auto;
}